.logo{
    height: auto;
    width: 100px;
    object-fit: contain;
}

.button-row{
    margin-bottom: 10px;
}

.form-control-color{
    display: block;
    width: 75px;
    height: 75px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: transparent;
    background-clip: padding-box;
    border: unset;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 3rem;
}

.dotted{
    width: 100%;
    white-space: nowrap;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-menu-trigger{
    color: #cacaca;
    padding: 10px 15px;
    cursor: pointer;
}

.side-menu-trigger:focus{
    background: #272b30;
}

.side-menu-trigger:hover{
    background: #272b30;
}

.side-menu-trigger i{
    font-size: 36px;
}

.nav-top{
    display: flex;
}

.navbar-brand{
    background-color: unset;
    box-shadow: unset;
}
@media (max-width: 768px) {

}