.check{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10000;

    display: none;
}

.check-success{
    background-color: #28a745;
    border-top: 16px solid #33d658;
}

.check-danger{
    background-color: #dc3545;
    border-top: 16px solid #ff394e;
}

.check-child{
    height: 200px;
    width: 200px;

    z-index: 10001;
}

.check-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.check-content i{
    font-size: 150px;
    color: white;
}

.loader {
    animation: spin 2s cubic-bezier(0.43, -0.19, 0.5, 1.15) infinite;
}

.loader-child{
    z-index: 10001;
    animation: neg-spin 2s cubic-bezier(0.43, -0.19, 0.5, 1.15) infinite;
}

@keyframes neg-spin {
    100% { transform: translate(-50%, -50%) rotate(0deg); }
    0% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}