body{
    position: relative;
    min-height: 100%;
}


footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    margin-top: 20px;
}

.container{
    position: relative;
    min-height: calc(100% - 60px - 78px - 20px);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #25292e !important;
    border-color: #25292e!important;
}

.page-item .page-link {
    background-color: #343a40!important;
    border-color: #343a40!important;;
    color: #fff!important;
}

.page-title-head{
    display: flex;
}

.ticket-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    position: relative;
}

.unset-link{
    color: unset;
    text-decoration: none;
}

.unset-link:hover{
    color: unset;
    text-decoration: none;
}

.unset-link:active{
    -webkit-box-shadow: inset 0px 0px 16px 0px rgba(245,245,245,1);
    -moz-box-shadow: inset 0px 0px 16px 0px rgba(245,245,245,1);
    box-shadow: inset 0px 0px 16px 0px rgba(245,245,245,1);
}

.unset-webkit-btn{
    -webkit-appearance: unset!important;
}

.nav-right{
    margin-right: 10px;
}

.btn-outline-success-hover{
    color: #fff!important;
    background-color: #28a745!important;
    border-color: #28a745!important;
}

.add-btn{
    position: static;
    top: 98px;
    right: 10px;
    text-decoration: none;
    display: flex;
    list-style: none;
}

.color-block{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.card-link-color{
    line-height: 3;
}

.card-footer-color{
    bottom: 0;
}

/*
.card-body-color{
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}
*/

.form-control-color{
    display: block;
    width: 75px;
    height: 75px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: transparent;
    background-clip: padding-box;
    border: unset;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.login{
    display: flex;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#form-login, #form-reset{
    width: 100%;
}

@media (min-width: 768px) {
    .login{
        margin-top: 140px;
    }
}

.custom-form{
    width: 100%;
}

.dotted{
    width: 100%;
    white-space: nowrap;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert-dropdown{
    padding-bottom: 0!important;
}

.icon-dropdown{
    -webkit-appearance: none;
    overflow: hidden;
    background: none;
    border: none;
    color: #ececec;
    outline: transparent!important;
    display: grid;
}

.icon-dropdown::after{
    color: #ffc107;
    margin-top: 3px;
    margin-left: auto!important;
    margin-right: auto!important;
}

.dropdown-item{
    padding: 0.55rem 1.5rem!important;
}

.alert-item{
    display: inline-flex!important;
}

.alert-item{
    border-bottom: 1px solid #4a4a4a !important;
}

.alert-item:last-of-type{
    border-bottom: none!important;
}

.alert-icon{
    margin-right: 10px;
}

.seen{
    color: #8e8e8e!important;
}

.unseen{
    color: #fff!important;
}

.alert-count{
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-item {
    background-color: #343a40;
}

.alert-title{
    width: max-content;
    padding-right: 10px;
    border-right: 1px solid #4a4a4a ;
}

.alert-desc{
    padding-left: 10px;
}

.dropdown-divider{
    margin-bottom: 0!important;
}

.set-read{
    text-decoration: none;
    color: unset;
}

.set-read:hover{
    cursor: pointer;
    text-decoration: underline!important;
}

.slider-content{
    display: inline-flex;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2px;
    border-collapse: collapse;
}

.slider-item {
    object-fit: contain;
    height: 100px;
    width: auto;
}

.slider-item{
    margin-right: 5px;
}

.slider-item:last-of-type{
    margin-right: 0px;
}

.slider-item:hover{
    cursor: pointer;
    border: 2px solid #8a8a8a;
    border-radius: 2px;
}

.slider-item-img{
    height: 96px;
}

.modal-img{
    width: 100%;
    object-fit: contain;
}

.modal-item-img{
    width: 100%;
    height: auto;
}

.modal-title-img {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-header-img {
    position: absolute;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.close-img {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
}

button.close-img {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.share{
    margin-top: 6px;
    position: absolute;
    right: 0;
}

.share:hover{
    cursor: pointer;
    color: #e4e4e4;
}

::-webkit-scrollbar
{
    width: 3px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: #464646;
    border-radius: 5px;
}

.menu-icons{
    display: flex;
}

.add-ticket-row{
    display: flex;
    flex-direction: row!important;
}

.alert-content {
    display: unset!important;
}

.dropdown-menu{
    right: 2px;
    left: 2px!important;
}

.alert-desc{
    word-wrap: break-word;
    white-space: normal;
    min-width: 230px;
}

@media (min-width: 992px) {
    .alert-content {
        display: inline-flex!important;
    }

    .dropdown-menu{
        right: 2px;
        left: unset!important;
    }

    .alert-desc{
        /*min-width: 300px;*/
        white-space: unset;
    }
}

.alert-box{
    max-height: 500px;
    overflow-y: scroll;
}
